In [2]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#Ans:-

import pandas as pd
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.
#Ans:-

import pandas as pd
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
#Q3. Create a Pandas DataFrame that contains the following data:
#Then, print the DataFrame.

import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Claire'], 
        'Age': [25, 30, 27], 
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [1]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans:-
    
In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type.
To better understand the difference between a Pandas DataFrame and a Series, let's consider an example. Suppose we have a dataset of students and their marks in three subjects - Math, Science, and English.
We can create a Pandas Series for each subject as follows:'''
    
import pandas as pd
math_marks = pd.Series([80, 75, 90, 60, 85], name='Math')
science_marks = pd.Series([70, 85, 80, 65, 90], name='Science')
english_marks = pd.Series([75, 80, 70, 85, 90], name='English')

In [2]:
Here, each series contains marks of five students in a particular subject. The name parameter is used to give a name to each series.
We can combine these series to form a Pandas DataFrame as follows:

student_marks = pd.DataFrame({'Math': math_marks, 'Science': science_marks, 'English': english_marks})

In [ ]:
This creates a DataFrame with three columns - Math, Science, and English - and five rows, each corresponding to a student. The resulting DataFrame looks like this: 
    
    Math  Science  English
0    80       70       75
1    75       85       80
2    90       80       70
3    60       65       85
4    85       90       90

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
Ans:-
    
There are many functions that you can use to manipulate data in a Pandas DataFrame. Here are some of the most commonly used functions:

1.head() and tail(): These functions allow you to see the first or last n rows of your DataFrame, respectively.

2.describe(): This function provides summary statistics for each column in your DataFrame, such as the count, mean, standard deviation, minimum, and maximum.

3.info(): This function provides information about the DataFrame, including the data type of each column and the number of non-null values.

4.drop(): This function allows you to drop a column or row from your DataFrame.

5.fillna(): This function allows you to fill missing values in your DataFrame with a specified value.

6.groupby(): This function allows you to group your DataFrame by one or more columns, and perform operations on each group.

7.sort_values(): This function allows you to sort your DataFrame by one or more columns.

8.pivot_table(): This function allows you to create a pivot table from your DataFrame.

9.apply(): This function allows you to apply a function to each element, row, or column of your DataFrame.

10.merge(): This function allows you to merge two or more DataFrames based on a common column.

11.rename(): This function allows you to rename the columns or index of your DataFrame.

12.loc[] and iloc[]: These functions allow you to select rows and columns from your DataFrame using labels or integer-based indexing, respectively.

13.astype(): This function allows you to convert the data type of one or more columns in your DataFrame.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans:-

In the pandas library of Python, both Series and DataFrame are mutable in nature, meaning that you can change their values after creation. However, Panel is not mutable in nature, which means that once created, its items cannot be changed.
It is worth noting that in recent versions of pandas (since version 1.0.0), the Panel data structure has been deprecated in favor of other more efficient data structures like MultiIndex, and it's recommended to use those instead.

In [3]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.
Ans:-
   
A Pandas DataFrame is a two-dimensional table-like data structure that allows you to store and manipulate tabular data in a flexible and easy way. You can create a DataFrame using multiple Series, which are one-dimensional labeled arrays that can store data of different types.
To create a DataFrame using multiple Series, you can pass a dictionary of Series to the pd.DataFrame() constructor. Each Series will become a column of the DataFrame, and the keys of the dictionary will become the column names.
Here's an example:'''

import pandas as pd
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
city = pd.Series(['New York', 'London', 'Paris'])
data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris